$basic-white: #ffffff;
$basic-black: #000000;
$gray: rgb(126, 126, 126);

$box-shadow-standard: 10px 10px 15px 0px $basic-black;
$box-shadow-subdued: 2px 2px 2px 0px $basic-black;

$font-weight-mid: 500;
$font-weight-heavy: 700;