@use '@styles/elementMixins.scss';
@use '@styles/variables.scss';

.recent-search {
    &__container {
        @include elementMixins.flexLayout(column, null, center);
        padding: 10px;
        background-color: variables.$basic-white;
        border-radius: 4px;
        gap: 5px;
        margin-top: 10px;
        width: 85%;
    }

    &__header {
        @include elementMixins.flexLayout(row, null, center);
        gap: 5px;
        color: variables.$basic-black;

        h3 {
            margin: 0px;
        }
    }

    &__item {
        button {
            @include elementMixins.flexLayout(row, center, center);

            width: 100%;
            gap: 10px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 85%;

        gap: 5px;
    }
}