@use '@styles/elementMixins.scss';
@use '@styles/variables.scss';

.header {
    &__container {
        @include elementMixins.flexLayout(row, flex-start, center);
        width: stretch;
        gap: 10px;
        padding: 10px 20px;
        background-color: #24292e;
        position: sticky;
        z-index: 5;
        top: 0;

        h3 {
            color: variables.$basic-white;
            margin: 0px;
        }
    }

    &__icon {
        color: variables.$basic-white;
    }
}